.drawer {
  display: none;
  opacity: 1;
}
.drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 8888;
  opacity: 0;

  transition: opacity 0.3s;
  will-change: opacity;
  background-color: #000;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drawer__header {
  /* Optional */
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.drawer__footer {
  /* Optional */
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.drawer__close {
  /* Optional */
  margin: 0;
  padding: 0.25rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer__close:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.drawer__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 500px;
  z-index: 9999;
  overflow: auto;

  transition: transform 0.3s;
  will-change: transform;
  background-color: #fff !important;
  opacity: 1 !important;

  display: flex;
  flex-direction: column;

  -webkit-transform: translate3d(103%, 0, 0);
  transform: translate3d(103%, 0, 0); /* extra 3% because of box-shadow */

  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */

  /* Optional */
  box-shadow: 0 2px 6px #777;
}

.drawer__content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  background-color: #fff;
  /* Optional */
  padding: 1.5rem;
}

.drawer--left .drawer__wrapper {
  left: 0;
  right: auto;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.drawer.is-active {
  display: block;
  opacity: 1 !important;
}

.drawer.is-visible .drawer__wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.drawer.is-visible .drawer__overlay {
  opacity: 0.5;
}
